// nav {
//   background: transparant;
// }
header {
  padding: 200px;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
}
.card-1 {
  font-family: sans-serif;
  display: block;
  margin: auto;
  text-align: center;
  background-color: white;
  opacity: 0.8;
}
.card-1-border {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  border-width: 5px;
}

.aboutme {
  padding: 30px;
}

.p-1 {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-2, .p-4 {
  align: right;
  width: 50%;
  padding: 10px;
}

.p-3 {
  align: left;
  width: 50%;
  padding: 3px;
}

@media(max-width: 767px) {
  .p-1 {
    position: relative;
    top: 100px;
    width: 100%;
  }

  .p-2 {
    position: relative;
    top: -100px;
    width: 100%;
  }

  .p-3, .p-4 {
    position: relative;
    width: 100%;
  }
}
.projects {
  position: relative;
  border: solid;

}
.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  // border: solid;
}

.social_media {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  align: right;
  width: 50%;
  padding: 30px;
  padding-right: 50px;
  // border: solid;
}

.frm1 {
  padding: 20px;
}

.cv_part1, .skills {
  width: 50%;
  padding: 30px;
  display: block;
  margin-right: auto;
  padding-right: 50px;
  // border: solid;
}

.cv_part2, .quotes {
  width: 50%;
  padding: 30px;
  display: block;
  margin-right: auto;
  // border: solid;
}

// .process-bar {
//   border: solid;
// }

body {
  background-color: #f7f8f9;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: max;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
