%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} Menu
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          About Me
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "projects.html.haml"} Projects
      %li.nav-item
        %a.nav-link{:href => "#"} Contact and Experience

#container-fluid
  %header
    %h1 Mariza Swart
    %p Striving for excellence
    %a{ :href => "mailto:mariza.swart@gmail.com"}= "mariza.swart@gmail.com"
