#container
  .aboutme
    %h4 About Me
    .d-flex.justify-content-sm-between
      .p-1
        %center
          %img.img-thumbnail{:src => "/images/fly.jpg", :style => "width:50%;height:50%;"}
      .p-2
        %p
        I have been fortunate enough to travel to most of the major cities in the world for work.
        In the four years that I worked as a flight attendant I learned a lot about working and connecting with different cultures.
        I had the chance to experience many amazing people and places during this time but I am most thankful for the chance to develop how I interact with the world.
        %p
        I have really focused throughout my professional experience to developing my communication skills.
        As a flight attendant, I found myself interacting with people from all over the world both as colleagues and customers.
    .d-flex.justify-content-sm-between
      .p-3
        %p
        As I am sure you can imagine, there were also times where not everything went right, and being 30.000 feet in the air resources and help are limited.
        I am able to find myself calm and collected in these situations and am thankful to have the chance to develop these skills.
        %p
        These skills also transferred into my current role as Client Success Manager even with the different context of the environment.
        In this role I also had a chance to work with more online, while continuing to develop my offline, communication strategy.
        With all my clients I focus on being personable, honest, friendly and precise.
      .p-1
        %center
          %img.img-thumbnail{:src => "/images/team.jpg", :style => "width:50%;height:50%;"}
    .d-flex.justify-content-sm-between
      .p-1
        %center
          %img.img-thumbnail{:src => "/images/computer.jpg", :style => "width:50%;height:50%;"}
      .p-4
        %p
        As I monitor the majority of the clients projects which run simultaneously staying focused, keeping an overall perspective and being organised becomes key.
        I am happy that I was able to learn these skills early on in my career as a Trainee Project Manager and had the opportunity to further educate myself in Project Management which I really enjoy doing.
        I thrive in these positions due to my extensive organizational skills.
        %p
        I believe that the best way to develop myself and get the most from life is to continuously learn.
        In my spare time I like to learn new things which at the moment this includes: programming, Swedish and yoga.
