#container
  .projects
    - data.projects.each do |project|
      -# =row.size >= 576 ? .project.row.col-xl-2 : .project.col.col-sm-2
      .project.col.col-sm-2
        %h4= project[:name]
        %p= project[:language]
        %p= project[:description]
        -# %a{href:"#{site.url}"}
        %br
