#container
  .projects
    - data.projects.each do |project|
      %h4= project[:name]
      %p= project[:language]
      %p= project[:description]
      %br

  -# .project.d-flex.flex-column
  -#   %p=projects[0]
